@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

:root {
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

body {
    background-color: #E5EFF4;
    box-sizing: border-box;
    color: var(--LightGray);
    font-family: 'Karla', sans-serif ;
    font-size: 16px;
    text-align: justify;
}

.container {
    width: 50% ;
    height: 30%;
    margin-top: 100px;
}

.head {
    color: var(--BrightYellow)
}

#head-text {
    color: #3D9491;
    padding: 15px 15px;
}

#head-p {
    color: var(--GrayishBlue);
}
 
.sub-text {
    background-color: var(--Cyan);
}

button {
    width: 100%;
    margin-top:20px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    height: 50px;
    color:  white;
    background-color: var(--BrightYellow) ;
    text-align: center;
}

.opacity {
    opacity: 0.6;
}

[class*="col"] {
    border-bottom-right-radius: 10px;   
    float: left;
    box-sizing: border-box;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }